# yaml-language-server: $schema=../schema/config.schema.yaml
name: mangakakalot

accept:
  hostnames:
    - mangakakalot.gg
    - www.mangakakalot.gg

manga:
  title:
    selector: div.story-info-right h1, ul.manga-info-text li:first-child h1
    options:
      fix_capitalization: title
  description:
    selector: "div.panel-story-info-description, #contentBox"
    options:
      text_selection:
        type: own-text
  cover_url:
    selector: "meta[property='og:image'], div.manga-info-pic img"
    options:
      text_selection:
        type: attributes
        attributes:
          - content
          - src
  status:
    selector: td:has('i.info-status') + td, ul.manga-info-text li:nth-child(3)
    options:
      cleanup:
        - replace_regex: "^Status : "
          replace_with: ""
  authors:
    selector: td:has('i.info-author') + td a, ul.manga-info-text li:nth-child(2)
    options:
      cleanup:
        - replace_regex: "^Author(s) : "
          replace_with: " "
      text_split_regex: ","
      fix_capitalization: title
  genres:
    selector: td:has('i.info-author') + td a, ul.manga-info-text li.genres a
    options:
      cleanup:
        - replace_regex: "(^\\s+)|(\\s+$)"
          replace_with: " "
      fix_capitalization: title
  alt_titles:
    selector: td.table-label:icontains("alternative") + td h2
    options:
      text_split_regex: " ; "
      fix_capitalization: title

  chapter:
    base: ul.row-content-chapter li, div.chapter-list div.row
    title: a
    url:
      selector: a
      options:
        text_selection:
          type: attributes
          attributes:
            - href
            - src
    date:
      selector: span:last-child
      options:
        text_selection:
          type: attributes
          attributes:
            - title
images:
  image_selector:
    selector: div.container-chapter-reader img
    options:
      text_selection:
        type: attributes
        attributes:
          - src
          - data-src
      text_split_regex: null

search:
  - hostnames:
      - www.mangakakalot.gg
    search_url: "{hostname}/search/story/{query}"
    query_format:
      - replace_regex: " "
        replace_with: "_"
      - replace_regex: '\W'
        replace_with: ""
    selectors:
      base: div.search-story-item, div.story_item
      url:
        selector: h3.story_name a
        options:
          text_selection:
            type: attributes
            attributes:
              - href
              - src
      title:
        selector: h3.story_name a
        options:
          fix_capitalization: title
      cover_url:
        selector: a:first-child img
        options:
          text_selection:
            type: attributes
            attributes:
              - src
              - data-src
      posted:
        selector: div.story_item_right span:icontains("updated")
        options:
          cleanup:
            - replace_regex: "Updated : "
              replace_with: ""

date_formats:
  - "%b-%d-%Y %R"
  - "%b %d,%Y %R"
  - "%b %d,%Y - %R"
